#head {
  display: none;
}

#headimage {
  display: block;
}

#headimage img {
  width: 100vw;
  z-index: -11;
  position: relative;
  margin: -110px 0 0 0;
}

#list {
  padding-bottom: 2em;
  background: rgba(17, 17, 19, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.event {
  background-color: #151516;
  box-shadow: 10px 8px 40px 8px #050510;
  margin: 20px 0;
  padding: 30px 30px 0px 30px;
  width: 250px;
  display: grid;
  max-height: 180px;
  transition: box-shadow 0.3s ease-out;
}

.event:hover {
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background-color: #1b1b1d;
  box-shadow: 10px 8px 50px 8px black;
  transform: scale(1.007);
}

h2 {
  font-size: 21px;
  margin: 0;
}

.date {
  line-height: 0.8em;
  font-weight: 100;
  color: white;
  font-size: 0.8em;
}

.place {
  line-height: 0.8em;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 100;
  color: white;
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  #headimage {
    display: none;
  }
  #head {
    display: block;
  }
  #head video {
    width: 100vw;
    z-index: -10;
    position: relative;
    margin: -110px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  #list {
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
  }
}
