html {
  font-family: 'Heebo', sans-serif;
  background-color: rgba(17, 17, 19, 1);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 10px;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 36px;
  color: white;
}

h2 {
  font-size: 27px;
  color: white;
}

.pageheadline {
  text-align: left;
  max-width: 1440px;
  margin-left: 40px;
  margin-bottom: -10px;
  width: calc(100% - 40px);
  margin-top: -20px;
}

.release {
  background: -webkit-linear-gradient(top, rgba(17, 17, 19, 0), rgba(17, 17, 19, 1));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(17, 17, 19, 0), rgba(17, 17, 19, 1));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(17, 17, 19, 0), rgba(17, 17, 19, 1));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, rgba(17, 17, 19, 0), rgba(17, 17, 19, 1));
  /* Standard syntax (must be last) */
}

.iconsHeader {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 10px;
  padding-left: 30px
}

.iconsHeader img {
  width: 35px;
}

.equalizercontainer, .spotify {
  padding: 10px;
}

.iconsHeader .spotify {
  display: none;
}

.spotify p {
  display: none;
}

.primarybtn {
  display: block;
  cursor: pointer;
  background-color: #272C36;
  width: 100%;
  max-width: 200px;
  text-align: center;
  justify-content: center;
  padding: 12px;
  margin: 0 auto;
  font-weight: 300;
  outline: none;
}

.primarybtn:hover {
  background-color: red;
}

.secondarybtn {
  border: 1px solid #fff;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding: 12px;
  font-weight: 300;
  outline: none;
}

.secondarybtn:hover {
  border: 1px solid #fff;
  background-color: white;
  color: #272C36;
}

.tertiatybtn {
  display: block;
  cursor: pointer;
  background-color: #ff0000;
  width: 100%;
  max-width: 200px;
  text-align: center;
  justify-content: center;
  padding: 12px;
  margin: 0 auto;
  font-weight: 300;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0px;
}

.tertiatybtn:hover {
  background-color: #c60202;
}

#logo {
  margin-top: 20px;
}

#logo img {
  max-width: 100px;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.navigation a {
  color: black;
  font-size: 55px;
  font-weight: bold;
}

.navigation .spotify p {
  display: block;
}

.navigation .spotify img {
  max-width: 50px;
}

.navigation a:hover {
  color: #fff;
  background-color: #000;
}

.desktopmenu {
  display: none;
}

.desktopmenu.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  animation: hereitgoes 500ms;
}

@keyframes hereitgoes {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: none;
  }
}

.desktopmenu.close {
  animation: goaway 500ms forwards;
}

@keyframes goaway {
  from {
    transform: none;
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

.desktopmenu.active a {
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
}

body.overflow {
  overflow: hidden;
}

#burger-menu {
  z-index: 3;
  right: 0;
  padding: 30px;
  display: block;
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

#burger-menu #opened {
  display: none;
}

#burger-menu.open #opened {
  display: block;
  z-index: 11;
}

#burger-menu.close #opened {
  display: none;
}

#burger-menu.open #closed {
  display: none;
}

.music {
  background: #151516;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  display: grid;
  margin: 20px 0;
}

.music:hover {
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background-color: #1b1b1d;
  box-shadow: 10px 8px 100px black;
  transform: scale(1.007);
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.copyright {
  font-size: 0.8em;
  color: #9E9E9E;
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-align: center;
}

.musicfollow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicfollow .column {
  display: flex;
  align-items: center;
}

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img {
  max-width: 30px;
  max-height: 25px;
  cursor: pointer;
}

.social {
  background: none;
  border: none;
  padding: 3px;
  cursor: pointer;
}


/* Equalizer button for music*/

.equalizercontainer {
  /*margin: 100px auto 0;*/
  width: 30px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.equalizercontainer:hover>.equalizerbar {
  background-color: red;
  transition: 500ms ease-out;
}

.equalizerbar {
  width: 4px;
  min-height: 10px;
  margin-right: 1px;
  background-color: #fff;
  border-radius: 2px;
}

.equalizerbar:nth-child(1) {
  -webkit-animation: grow1 900ms alternate infinite;
  animation: grow1 900ms alternate infinite;
}

@-webkit-keyframes grow1 {
  0% {
    height: 3px;
  }
  40% {
    height: 19px;
  }
  60% {
    height: 11px;
  }
  100% {
    height: 20px;
  }
}

@keyframes grow1 {
  0% {
    height: 3px;
  }
  40% {
    height: 19px;
  }
  60% {
    height: 11px;
  }
  100% {
    height: 20px;
  }
}

.equalizerbar:nth-child(2) {
  -webkit-animation: grow2 1419ms alternate infinite;
  animation: grow2 1419ms alternate infinite;
}

@-webkit-keyframes grow2 {
  0% {
    height: 11px;
  }
  40% {
    height: 36px;
  }
  60% {
    height: 2px;
  }
  100% {
    height: 33px;
  }
}

@keyframes grow2 {
  0% {
    height: 11px;
  }
  40% {
    height: 36px;
  }
  60% {
    height: 2px;
  }
  100% {
    height: 33px;
  }
}

.equalizerbar:nth-child(3) {
  -webkit-animation: grow3 1073ms alternate infinite;
  animation: grow3 1073ms alternate infinite;
}

@-webkit-keyframes grow3 {
  0% {
    height: 35px;
  }
  40% {
    height: 17px;
  }
  60% {
    height: 2px;
  }
  100% {
    height: 40px;
  }
}

@keyframes grow3 {
  0% {
    height: 35px;
  }
  40% {
    height: 17px;
  }
  60% {
    height: 2px;
  }
  100% {
    height: 40px;
  }
}

.equalizerbar:nth-child(4) {
  -webkit-animation: grow4 1209ms alternate infinite;
  animation: grow4 1209ms alternate infinite;
}

@-webkit-keyframes grow4 {
  0% {
    height: 14px;
  }
  40% {
    height: 28px;
  }
  60% {
    height: 12px;
  }
  100% {
    height: 40px;
  }
}

@keyframes grow4 {
  0% {
    height: 14px;
  }
  40% {
    height: 28px;
  }
  60% {
    height: 12px;
  }
  100% {
    height: 40px;
  }
}

.equalizerbar:nth-child(5) {
  -webkit-animation: grow5 990ms alternate infinite;
  animation: grow5 990ms alternate infinite;
}

@-webkit-keyframes grow5 {
  0% {
    height: 13px;
  }
  40% {
    height: 40px;
  }
  60% {
    height: 5px;
  }
  100% {
    height: 37px;
  }
}

@keyframes grow5 {
  0% {
    height: 13px;
  }
  40% {
    height: 40px;
  }
  60% {
    height: 5px;
  }
  100% {
    height: 37px;
  }
}

.equalizerbar:nth-child(6) {
  -webkit-animation: grow6 1090ms alternate infinite;
  animation: grow6 1090ms alternate infinite;
}

@-webkit-keyframes grow6 {
  0% {
    height: 8px;
  }
  40% {
    height: 25px;
  }
  60% {
    height: 15px;
  }
  100% {
    height: 32px;
  }
}

@keyframes grow6 {
  0% {
    height: 8px;
  }
  40% {
    height: 25px;
  }
  60% {
    height: 15px;
  }
  100% {
    height: 32px;
  }
}

.equalizercontainer.pause * {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  animation: down 1.2s ease-out;
}

.equalizercontainer.pause.blue-background:hover * {
  background-color: blue;
}

@keyframes down {
  from {
    height: 30px;
  }
  to {
    height: 5px;
    background-color: red;
  }
}

@media screen and (min-width: 1024px) {
  .iconsHeader .spotify {
    display: flex !important;
    background: none;
    border: none;
    width: auto;
    color: white;
  }
  #burger-menu {
    margin-right: 6px;
  }
  .iconsHeader .spotify p {
    display: block;
    margin: 0;
    padding: 12px;
  }
  .navigation .spotify {
    display: none;
  }
  #logo {
    margin-left: -100px;
    margin-top: 20px;
    cursor: pointer;
  }
  #logo img {
    max-width: 150px;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .socialmedia {
    display: inline-flex;
    float: right;
    padding-right: 30px;
  }
  footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
  }
  .copyright {
    font-size: 0.8em;
    color: #9E9E9E;
    font-weight: 100;
    line-height: 6em;
    position: absolute;
    width: 100%;
    max-width: 1024px;
  }
  .musicfollow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
}
