html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.iconsHeader {
  display: flex;
  justify-content: flex-start;
}

.iconsHeader img {
  width: 25px;
}

.equalizer, .spotify {
  padding: 10px;
}

#logo {
    margin-right: 100px;
}

.spotify {
    background: none;
    border: none;
    width: auto;
    color: white;
    display: flex;
}

.spotify p {
    margin: 0;
    padding: 6px;
}

.equalizer {
    background: none;
    border: none;
}

#logo img {
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navigation a {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.navigation a:hover {
  color: #C81C1C;
}

.desktopmenu {
  display: none;
}

.desktopmenu.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.desktopmenu.active a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

body.overflow {
  overflow: hidden;
}

#burger-menu {
  position: absolute;
  right: 0;
  padding: 10px;
  margin-right: 6px;
  display: block;
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

#burger-menu #opened {
  display: none;
}

#burger-menu.open #opened {
  display: block;
  z-index: 11;
}

#burger-menu.open #closed {
  display: none;
}
