
#list {
  padding-bottom: 2em;
  background: rgba(17, 17, 19, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#list1 {
  padding-bottom: 2em;
  background: rgba(17, 17, 19, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#list article {
  max-width: 340px;
}

.primarybtn {
    display: block;
  cursor: pointer;
  background-color: #ff003c;
  width: 100%;
  max-width: 200px;
  text-align: center;
    justify-content: center;
  padding: 12px;
    margin: 0 auto;
}

.music {
  background-color: #151516;
  box-shadow: 10px 8px 40px 8px #050510;
  display: grid;
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  #list{
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
  }

     #list1 {
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
  }
}
